*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

/* body{
    
} */

#portfolio_about_me {
    background: red;
    width: 100%;
    height: 528px;
    padding: 10px;
}

.main-header {
    width: 100%;
    background: #192425;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header_name {
    color: #192425;
    background: #76C7D1;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    
    
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 220px);
    vertical-align: middle;
}

.main-nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.main-nav_item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav_item a {
    text-decoration: none;
    color: #76C7D1;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav_item a:hover,
.main-nav_item a:active {
    color: #192425;
    background: #76C7D1;
    /* border-radius: 10px; */
}

.main-nav_item--resumeBtn a {
    color: #192425;
    background: #76C7D1;
    padding: 8px 16px;
    border-radius: 6px;
}

.main-nav_item--resumeBtn a:hover,
.main-nav_item--resumeBtn a:active {
    color: #76C7D1;
    background:#192425;
    border: none;
}