*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#portfolio_about_me {
    background: red;
    width: 100%;
    height: 528px;
    padding: 10px;
}

#portfolio_work {
    background: green;
    width: 100%;
    height: 528px;
    padding: 10px;
}

#portfolio_contact_me {
    background: blue;
    width: 100%;
    height: 528px;
    padding: 10px;
}